.pantalla {
    display: flex;
    height: 900px;
}

.teclado {
    display: flex;
    flex-wrap: wrap;
}

.teclado button {
    width: 2em;
    height: 2em;
}

#menu-principal {
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
}
#menu-principal div { /* Botones */
    flex-flow: column wrap;
    align-content: center;
}

#juego {
    display: none;

    flex-flow: column wrap;
    width: 90vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
#juego > :first-child { 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#agregar-palabra {
    display: none;
}

#logo-alura {
    position: absolute;
    margin-left: 16px;
    margin-top: 24px;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.botones > :first-child {
    color: blue;
}

button {
    width: 280px;
    height: 67px;
}

p {
    font-size: xx-large;
    white-space: nowrap;
}

canvas {
    /*border: solid 1px;*/
    
}
#subrayada {
    width: 100%;
    margin-bottom: 20px;
}